%header
  .container
    .container__left
      = link_to root_path do
        %i.fa.fa-baseball-ball
      = link_to root_path ,class: 'title'do
        Baseball Result Manager
    .container__right
      %ul
        %li メンバーを追加
        %li ログイン
