-# - @member.each do |m|
-#   .members
-#     = m.nickname


%tbody
  %tr
    %td
      name
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
