-# - @member.each do |m|
-#   .members
-#     = m.nickメンバー


%tbody
  %tr
    %td
      メンバー
    %td
      0
    %td
      0.000
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0
    %td
      0.000
    %td.score
      スコアを登録
      
