-# - @member.each do |m|
-#   .members
-#     = m.nickメンバー

- @member.each do |member|
  %tbody
    %tr
      %td
        = member.nickname
      %td
        0
      %td
        0.000
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0
      %td
        0.000
      = link_to new_member_score_path(member) do
        %td.score
          スコアを登録
