.main-content {
  background-color: black;
  clear: both;
  float: none;
  width: 96vw;
  padding: 20px 20px 20px 20px;
  margin-left: 2vw;
  margin-top: 12vh;
  margin-bottom:5vh;
  box-shadow: 0 0 4px -1px rgba(0,0,0,.36);
  border-radius: 5px;
  background: rgba(0,0,0, 0.7);
  position: absolute;
  .no-data {
    color: #0099e8;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  table {
    color: white;
    width: 93vw;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    thead {
      color: white;
      font-weight: bold;
      background: #0099e8;
      opacity: 0.8;
    }
    tbody {
      td {
        border: solid 1px white;
      }
      .member-name {
        color: white;
        cursor: pointer;
      }
      .member-name:hover {
        color: #0099e8;
      }
      .score {
        color: white;
        cursor: pointer;
        font-size: 15px;
      }
      .score:hover {
        color: #0099e8;
      }
    }
    tfoot {
      text-decoration: underline;
      td {
        border: solid 1px white;
      }
    }
  }
}
.score-delete {
  color: white;
  cursor: pointer;
  font-size: 15px;
}
.score-delete:hover {
  color: red;
}
