.main-content {
  background: #fff;
  clear: both;
  float: none;
  width: 96vw;
  padding: 20px 20px 20px 20px;
  margin-left: 2vw;
  margin-top: 12vh;
  margin-bottom:5vh;
  box-shadow: 0 0 4px -1px rgba(0,0,0,.36);
  .no-member {
    color: gray;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .members {
    color: rgb(94, 109, 242);
    font-size: 20px;
  }
}
