.head-content-show {
  margin-bottom: 3vh;
  font-size: 23px;
  color: white;
  .member-name-edit-btn {
    cursor: pointer;
    font-size: 17px;
    color: #0099e8;
    border: solid 1px #0099e8;
    border-radius: 4px;
    padding: 1px 2px;
    margin-left: 10vw;
    background: rgba(0,0,0, 0.1);
  }
  .member-name-edit-btn:hover {
    background: #0099e8;
    color: #fff;
    opacity: 0.8;
  }
  .member-destroy-btn {
    cursor: pointer;
    font-size: 17px;
    color: red;
    border: solid 1px red;
    border-radius: 4px;
    padding: 1px 2px;
    background: rgba(0,0,0, 0.1);
    margin-left: .5vw;
  }
  .member-destroy-btn:hover {
    background: red;
    color: #fff;
    opacity: 0.8;
  }
}
.main-content-show {
  background: rgba(0,0,0, 0.7);
  clear: both;
  float: none;
  width: 96vw;
  padding: 20px 20px 20px 20px;
  margin-left: 2vw;
  margin-bottom:5vh;
  margin-top: 24vh;
  box-shadow: 0 0 4px -1px rgba(0,0,0,.36);
  border-radius: 3px;
  .no-data {
    color: #ea352d;;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  table {
    color: white;
    width: 93vw;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    thead {
      color: white;
      font-weight: bold;
      background: #ea352d;
      opacity: 0.9;
    }
    tbody {
      td {
        border: solid 1px white;
      }
      .member-name {
        color: white;
        cursor: pointer;
      }
      .member-name:hover {
        color: #0099e8;
      }
      .score {
        color: white;
        cursor: pointer;
        font-size: 15px;
      }
      .score:hover {
        color: #0099e8;
      }
    }
    tfoot {
      text-decoration: underline;
      td {
        border: solid 1px white;
      }
    }
  }
}
